<div *ngIf="!pantalla" class="mat-elevation-z2" style="padding: 20px; max-width: 400px; margin: auto;">
  <h3 class="mat-h3 text-center">Tu contraseña ha caducado, favor de cambiarla</h3>

  <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" style="margin-top: 20px;">

    <div fxLayout="column" fxLayoutGap="10px">
      <div>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label for="currentPassword">Contraseña Antigua</mat-label>
            <input matInput type="password" formControlName="currentPassword" />
          </mat-form-field>
          <div *ngIf="changePasswordForm.get('currentPassword').touched && oldPasswordInvalid" class="mat-error">
            La contraseña actual no es válida.
          </div>
        </div>
      </div>

      <div>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label for="newPassword">Nueva Contraseña</mat-label>
            <input matInput type="password" formControlName="newPassword" />
          </mat-form-field>
          <div *ngIf="changePasswordForm.get('newPassword').touched && iguales" class="mat-error">
            Las contraseña nueva debe ser diferente a la pasada
          </div>
        </div>
      </div>

      <div>
        <div fxLayout="column">
          <mat-form-field>
            <mat-label for="confirmNewPassword">Confirmar Nueva Contraseña</mat-label>
            <input matInput type="password" formControlName="confirmNewPassword" />
          </mat-form-field>
          <div *ngIf="changePasswordForm.get('confirmNewPassword').touched && passwordsNotMatch" class="mat-error">
            Las contraseñas no coinciden.
          </div>
        </div>
      </div>

      <div>
        <button mat-raised-button type="submit" [disabled]="changePasswordForm.invalid" color="primary">
          Cambiar Contraseña
        </button>
      </div>
    </div>
  </form>
</div>


<div *ngIf="pantalla" class="mat-elevation-z2" style="padding: 20px; max-width: 400px; margin: auto;">

  <h3  class="mat-h3 text-center" >Has Cambiado tu contraseña</h3>


  <button mat-raised-button color="primary" type="button" routerLink="" >Iniciar Sesion</button>

</div>




